.carousel-indicators [data-bs-target]{
    border-radius: 100%;
    width: 10px;
    height: 10px;
}
/* img {
    max-width: 100%;
   
    height: auto;
    padding: 0;
    margin: 0;
} */
#tital-1{
   
font-weight: 700;    
color: #0788CA;
font-size: 1.5vw;
line-height: 0.5vw;
}
#tital-2{
    font-weight: bold;
    color: black;
    font-size: 3vw;
    line-height: 3vw;
}
#tital-3{
    font-weight: bold;
    color: #0788CA;
    font-size: 3vw;
    line-height: 1.5vw;
}
#tital-4{
    font-weight: 500;
    font-size: 1.5vw;
}


.image-container {
    max-width: 100%;
    height: auto;
    margin: 0 auto; /* Optional: Center the image */
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  @media (min-width: 768px) {
    .image-container {
      max-width: 90%; /* Adjust the width for tablets or larger screens */
     
    }
  }
  
  @media (min-width: 1024px) {
    .image-container {
      max-width: 60%; /* Adjust the width for desktop screens */
      /* margin-bottom: 30px; */
    }
  }  